<div class="nested-fields">
<div class="field">
<%= f.label :name %>
<%= f.text_field :menu_name %>
</div>
  <div>
    <%= link_to_remove_association "Remove Menu", f %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>





