
.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .custom-table button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-table button:hover {
    background-color: #f2f2f2;
  }
  .pagination {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  