/* Register.css */

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 70%;
   
    margin: 20px auto;
  }
  .role-label{
    margin-top:20px ;
    margin-bottom: 10px;
    
  }
  
  /* Add more custom styling as needed */
  